html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*BARVY:
#ADFAAF: zelené pozadí článků
#527979: button
#E6FDE7: body
*/
body {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(5, auto);
    background-color: #E6FDE7;
    max-width: 100%;
    margin: auto;
    font-family: 'Mukta Mahee', sans-serif;
    font-size: 1.3rem;
    row-gap: 10px;
}
.site-header {
    grid-column: 2/-2;
    grid-row: 1/2;
    margin: auto;
}
.logo {
    text-align: center;
}
.logo__img {
    height: 150px;
    border-radius: 50%;
    padding: 8px;
}
.logo__text {
    text-align: center;
    grid-column: 1/-1;
    grid-row: 2/3;
}
.logo__text--title {
    margin: 0;
    font-size: 2rem;
}
.logo__text--subtitle {
    margin: 0;
    font-size: 1.5rem;
}
.main-content {
    grid-column: 2/-2;
    grid-row: 3/4;
}
.main-content__normal {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}
.main-content__flexbox {
    display: block;
}
.link-text {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: 500;
}
.main-content__highlited {
    background-color:#ADFAAF;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px;
    margin: 0;
}
.main-content__highlighted--picture {
    display: none;
}
.main-content__normal--picture {
    display: none;
}
.left-sidebar {
    grid-column: 2/-2;
    grid-row: 4/5;
    background-color: #ADFAAF;
    font-size: 1.5rem;
}
.dropdown__checkbox {
    display: none;
}
.dropdown {
    text-align: center;
}
.dropdown label {
    display: block;
    text-align: center;
    background-color: #527979;
    width: 70%;
    margin: auto;
    border-radius: 5px;
    margin-top: 15px;
    color: white;
}
.nav {
    display: none;
}
.dropdown__checkbox:checked ~ .nav {
    display: block;
    padding: 0;
    margin: auto;
    text-align: center;
    background-color: #527979;
    width: 70%;
    border-radius: 5px;
}
.nav__item {
    list-style-type: none;
    margin: 5px;
}
.nav__item--link {
    text-decoration: none;
    color: white;
}
.right-sidebar {
    grid-column: 2/-2;
    grid-row: 4/5;
    background-color: white;
    border-radius: 5px;
}
.highlight__text {
    margin: 0;
    padding-top: 20px;
    font-size: 1.5rem;
    text-align: center;
}
.contact-info {
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
}
.contact-info__cards {
    margin: auto;
    width: 100px;
}
.site-footer {
    grid-column: 1/-1;
    grid-row: 5/6;
    display: flex;
    background-color: #ADFAAF;
    font-size: 1.2rem;
    padding: 0 20px;
    justify-content: space-between;
}
.site-footer__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.site-footer__content--inside {
    margin: 0;
}
.site-footer__right {
    display: flex;
    flex-direction: column;
}
.site-footer__content--facebook {
    height: 70px;
    text-align: right;
    padding: 10px;
}
@media screen and (min-width: 900px) {
    body {
        gap:0;
    }
    .site-header {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .logo {
        text-align: center;
    }
    .logo__text {
        grid-column: 2/3;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .left-sidebar {
        grid-column: 1/2;
        grid-row: 2/5;
    }
    .dropdown label {
        display: none;
    }
    .nav {
        display: block;
        padding-top: 50px;
    }
    .nav__item--link {
        color: black;
    }
    .main-content {
        grid-column: 2/6;
        grid-row: 2/3;
        padding: 0;
        background-color: white;
    }
    .main-content__highlited {
        border-radius: 0 5px 5px 0;
        display: flex;
    }
    .main-content__highlighted--picture {
        display: block;
        max-width: 300px;
        border-radius: 5px;
        padding-right: 20px;
    }
    .main-content__normal {
        margin: 0;
        background-color: #E6FDE7;

    }
    .main-content__normal--picture {
        display: block;
        max-width: 300px;
        border-radius: 5px;
    }
    .main-content__flexbox {
        display: flex;
        padding-bottom: 20px;
        background-color: #E6FDE7;
    }
    .right-sidebar {
        grid-column: 6/7;
        grid-row: 2/-2;
        border-radius: 0;
        padding: 10px;
        background-color: #E6FDE7;
    }
    .site-footer {
        grid-column: 1/-2;
        border-radius: 0 5px  0 0;
    }
    .site-footer__content {
        flex-direction: row;
        justify-content: flex-start;
    }
    .site-footer__content--inside {
        margin: 8px;
    }
    .site-footer__content--facebook {
        padding: 10px;
    }
}