html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*BARVY:
#ADFAAF: zelené pozadí článků
#527979: button
#E6FDE7: body
#527979: šedá gradient, hover
*/
body {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6, auto);
    gap: 10px;
    background-color: #E6FDE7;
    max-width: 100%;
    margin: auto;
    font-family: 'Mukta Mahee', sans-serif;
    font-size: 1.3rem;
    row-gap: 10px;
}
.site-header {
    grid-column: 2/-2;
    grid-row: 1/2;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.logo {
    text-align: center;
}
.logo__img {
    height: 150px;
    border-radius: 50%;
    padding: 15px 0;
}
.logo__text {
    text-align: center;
    grid-column: 1/-1;
    grid-row: 2/3;
}
.logo__text--title {
    margin: 0;
    font-size: 2rem;
}
.logo__text--subtitle {
    margin: 0;
    font-size: 1.5rem;
}
.main-content {
    grid-column: 2/-2;
    grid-row: 3/4;
}
.main-content__normal {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}
.main-content__flexbox {
    display: block;
    flex-wrap: wrap;
}
.link-text {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: 500;
}
.main-content__highlited {
    background-color:#ADFAAF;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px;
    margin: 0;
}
.main-content__highlighted--picture {
    display: none;
}
.main-content__highlighted--profile-picture {
    display: flex;
    margin: auto;
    width: 50%;
    border-radius: 5px;

}
.main-content__normal--picture {
    display: none;
}
.left-sidebar {
    grid-column: 2/-2;
    grid-row: 4/5;
    font-size: 1.5rem;
}
.dropdown__checkbox {
    display: none;
}
.dropdown {
    text-align: center;
}
.dropdown label {
    display: block;
    text-align: center;
    background-color: #527979;
    width: 70%;
    margin: auto;
    border-radius: 5px;
    margin-top: 15px;
    color: white;
}
.nav {
    display: none;
}
.dropdown__checkbox:checked ~ .nav {
    display: block;
    padding: 0;
    margin: auto;
    text-align: center;
    background-color: #527979;
    width: 70%;
    border-radius: 5px;
}
.nav__item {
    list-style-type: none;
    margin: 5px;
}
.nav__item--link {
    text-decoration: none;
    color: white;
}
.right-sidebar {
    grid-column: 2/-2;
    grid-row: 5/6;
    background-color: white;
    border-radius: 5px;
}
.highlight__text {
    margin: 0;
    padding-top: 20px;
    font-size: 1.5rem;
    text-align: center;
}
.contact-info {
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
}
.contact-info__cards {
    margin: auto;
    width: 100px;
}
.site-footer {
    grid-column: 1/-1;
    grid-row: 6/7;
    display: flex;
    background-color: #ADFAAF;
    font-size: 1.2rem;
    padding: 0 20px;
    justify-content: space-between;
}
.site-footer__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.site-footer__content--inside {
    margin: 0;
}
.site-footer__right {
    display: flex;
    flex-direction: column;
}
.site-footer__content--facebook {
    height: 70px;
    text-align: right;
    padding: 10px;
}
@media screen and (min-width: 900px) {
    body {
        row-gap: 10px;
    }
    .site-header {
        grid-column: 1/-1;
        grid-row: 1/2;
        flex-direction: row;
        width: 100%;
        background-image: linear-gradient(to left, #527979, #ADFAAF);
    }
    .logo__img {
        padding: 20px;
    }
    .logo__text {
        flex-direction: row;
        margin: auto 0;
        padding-left: 10px;
    }
    .left-sidebar {
        grid-column: 1/2;
        grid-row: 2/5;
    }
    .dropdown label {
        display: none;
    }
    .nav {
        display: block;
        text-align: left;
    }
    .nav__item--link {
        color: black;
    }
    .nav__item--link:hover {
        background-color: #527979;
        padding: 0 5px;
        border-radius: 15px;
        color: white;
    }
    .main-content {
        grid-column: 2/6;
        grid-row: 2/3;
        padding: 0;
    }
    .main-content__highlited {
        border-radius: 100px 20px 100px 20px;
        display: flex;
        padding: 0;
    }
    .main-content__highlited--text {
        padding-left: 20px;
        justify-content: space-around;
        margin: auto 0;
    }
    .highlited__text--paragraph {
        margin: 0;
    }
    .main-content__highlighted--picture {
        display: block;
        max-width: 25%;
        height: auto;
        border-radius: 100px 0px 0px 20px;
        
    }
    .main-content__highlighted--profile-picture {
        margin: 0;
        display: block;
        max-width: 25%;
        height: auto;
        border-radius: 100px 0px 0px 20px;
    }
    .main-content__flexbox {
        display: flex;
        flex-wrap: nowrap;
        background-color: white;
    }
    .main-content__flexbox--certificates {
        display: flex;
        margin: 20px 0;
    }
    .main-content__normal {
        padding: 20px;
        margin: auto;
        margin: 20px 0;
    }
    .main-content__normal--picture {
        display: block;
        max-width: 100%;
        width: auto;
        border-radius: 5px;
    }
    .main-content__normal--certificate {
        display: flex;
        max-width: 25%;
        width: auto;
        border-radius: 5px;
        padding: 20px;
    }
    .link-text {
        background-color: #ADFAAF;
        padding: 0 10px;
        border-radius: 15px;
    }
    .link-text:hover {
        background-color: #527979;
        padding: 0 10px;
        border-radius: 15px;
        color: white;
    }
    .right-sidebar {
        grid-column: 6/7;
        grid-row: 2/-2;
        border-radius: 0;
        padding: 10px;
        background-color: #E6FDE7;
    }
    .site-footer {
        background-image: linear-gradient(to left, #527979, #ADFAAF);
    }
    .site-footer__content {
        flex-direction: row;
        justify-content: flex-start;
    }
    .site-footer__content--inside {
        margin: 8px;
    }
    .site-footer__content--facebook {
        padding: 10px;
    }
}