<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pedikúra Lenka Ježková</title>
	<link rel="stylesheet" href="/style.css">
</head>
<body>
    <ul>
        <li><a href="/o-mne/">O mně</a></li>
        <li><a href="/cenik/">Ceník</a></li>
        <li><a href="/novinky/">Novinky</a></li>
        <li><a href="/kontakt/">Kontakt</a></li>
    </ul>
    <header>

    </header>
    <main>
    {{ content | safe }}
    </main>
</body>
</html>